Examne Final Yalmar Cardenas

## 1. Mencione cuales son los 2 tipos de objetos principales al trabajar con Pandas?

- Series
- Dataframe

## 2. Al usar Pandas loc y iloc nos sirven para?


- Se utilizan para seleccionar filas y columnas de un Dataframe

In [169]:
#Codigo de ejemplo
import pandas as pd

data = {'Country': ['Belgium',  'India',  'Brazil'],'Capital': ['Brussels',  'New Delhi',  'Brasilia'],'Population': [11190846, 1303171035, 207847528]}
df = pd.DataFrame(data,columns=['Country',  'Capital',  'Population'])
df.head() # visualizar las primeras filas del dataframe
df.iloc[:1] # Seleecion del primer registro
df.iloc[:,0:1] # seleccion de la primera columan y todas las filas

   Country
0  Belgium
1    India
2   Brazil

## 3.Para agregar las filas de un dataset a otro usamos?

- Se puede hacer usando la funcion append o usando una asignacion con loc y iloc.

In [193]:
df.head()

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [37]:
data2 = {'Country': ['Honduras',  'Guatemala',  'El Salvador'],'Capital': ['Tegucigalpa',  'Ciudad de Guatemala',  'SAn Salvador'],'Population': [111906, 1371035, 207528]}
df2 = pd.DataFrame(data2,columns=['Country',  'Capital',  'Population'])
df2.head()

       Country              Capital  Population
0     Honduras          Tegucigalpa      111906
1    Guatemala  Ciudad de Guatemala     1371035
2  El Salvador         SAn Salvador      207528

In [38]:
df2=df2.append(df.iloc[2])
df2

       Country              Capital  Population
0     Honduras          Tegucigalpa      111906
1    Guatemala  Ciudad de Guatemala     1371035
2  El Salvador         SAn Salvador      207528
2       Brazil             Brasilia   207847528

## 4. Para calcular la transpuesta de un dataset, tanto en NumPy como en Pandas podemos usar?

- Para numpy se puede usar np.transpose()
- Para pandas se puede usar df.T

In [58]:
import numpy as np
import pandas as pd
a=[1,2,3,4,]
a=np.reshape(np.array(a),(2,2))
a

array([[1, 2],
       [3, 4]])

In [59]:
g=a.transpose() # Transpuesta usando Numpy
g

array([[1, 3],
       [2, 4]])

In [60]:
h=pd.DataFrame(g)
h

   0  1
0  1  3
1  2  4

In [61]:
h_t=h.T # Transpuesa usando pandas
h_t

   0  1
0  1  2
1  3  4

## 5. Se posee una matriz con 1000 filas y 300 columnas, el aplicar sum(axis=0) sobre esta matriz, devuelve un vector de cuantos elementos?

- Devuelve un vector de 300 elementos

In [96]:
from numpy import random
datos2 = random.randint(10, 20, (1000,300))

In [97]:
datos2

array([[12, 14, 19, ..., 12, 14, 17],
       [17, 10, 15, ..., 11, 15, 13],
       [15, 17, 12, ..., 10, 13, 18],
       ...,
       [14, 17, 17, ..., 14, 17, 12],
       [12, 13, 12, ..., 16, 14, 17],
       [19, 10, 10, ..., 10, 10, 12]])

In [98]:
datos2=datos2.sum(axis=0)
datos2.shape

(300,)

## 6. Pandas nos permite usar nombres, etiquetas o identificadores:

- Etiquetas

## 7. Para un vector cualquiera de tama˜no ”n”, ordenado de menor a mayor , el aplicar np.argmax(vector) resulta en:

- Devuelve los índices de los valores máximos a lo largo de un eje, en un vector de tamano n ordenado de menor a mayor devuelve el indice del ultimo elemento.

In [149]:
a = np.matrix([1,2,3,4,5,6,7,8,9])
a

matrix([[1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [151]:
np.argmax(a) # devuele la posicion del ultimo elemento

8

## 8. ¿Que es Broadcasting en Python y para que sirve?

- Es una estrategia de numpy para operar con arreglos mutidimensionles de diferentes dimensiones,el broadcasting se realiza en forma virtual, está implementado en memoria, por lo que es muy eficiente,el producto de un escalar por un vector que es un ejemplo de broadcasting y sirve para eficientar los cálculos con arreglos multidimensionales. ajusta los elementos dospinible que tienen los arreglos para poder hacer operaciones, para operaciones de elemento a elemento.

In [117]:
a = np.array([15, 22, 38]) 
b = np.array([5])
a * b

array([ 75, 110, 190])

## 9. Se tiene una matriz X de 3000 filas y 500 columas, el aplicar np.median(X,axis=1) resulta en?

- Calcula la media de los datos dados a lo largo de un eje especifico axis = 1, el resultado es un vector de forma (3000,)

In [143]:
datos3 = random.randint(10, 20, (3000,500))
datos3

array([[16, 18, 17, ..., 18, 16, 14],
       [11, 10, 18, ..., 12, 11, 10],
       [13, 19, 14, ..., 16, 16, 11],
       ...,
       [14, 10, 19, ..., 19, 17, 13],
       [15, 12, 14, ..., 14, 13, 13],
       [15, 13, 19, ..., 11, 15, 13]])

In [141]:
x=np.median(datos3,axis=1)

In [142]:
x.shape

(3000,)

In [144]:
type(x)

numpy.ndarray

## 10 ¿Por que es importante el algebra lineal en ciencia de datos?

- El álgebra lineal puede ser utilizada para obtimizar el código y hacer que los algoritmos o calculos matematicos en machin learnig sean más rápidos. en resumen es importante para mejor el rendimiento ya que los calculos usando arreglos son mas rapidos.

## 11. En NumPy se posee un vector definido de la siguiente forma: v = np.array([1,2,4,5]) ¿El rango del Tensor es?

- Seria de rango 1

In [155]:
v = np.array([1,2,4,5]) 
v.ndim

1

## 12. En data science llamamos a la estructura de datos resultante de convertir datos o variables categoricas a una representacion numerica ,comunmente vectorial

In [179]:
data4 = {"Sexo": ['male',  'male',  'female'],'Name': ['carlos',  'pedro',  'pamela']}
df4 = pd.DataFrame(data4,columns=['Sexo','Name'])
df4.head() # visualizar las primeras filas del dataframe

     Sexo    Name
0    male  carlos
1    male   pedro
2  female  pamela

In [180]:
df.head()

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [182]:
sex_cat = pd.get_dummies(df4[["Sexo"]])

In [183]:
sex_cat.head()

   Sexo_female  Sexo_male
0            0          1
1            0          1
2            1          0

## 13. ¿Un tensor de rango 0 tambien se puede llamar?

- Se le puede llamar escalar

## 14. Cuando aplicamos la funcion np.inner entre 2 vectores ?v? y ?w? obtenemos

- Se optiene un escalar con la suma de la multipliacion de los vectores en caso de ser de 1 dimension , en caso de se de mayor dimension seria la suma de los productos sobre sus ejes

In [184]:
v = np.array([1,2,4,5]) 
w = np.array([7,8,9,10])

In [188]:
7+16+36+50

109

In [186]:
np.inner(v,w)

109

## 15. ¿Por que las operaciones vectorizadas son mas eficientes que los ciclos?

- Por que las librerias estan compiladas en C y tienen un mayor rendimiento que el interprete de python, adicionalmente se realizan las operaciones de manera simultanea y en los cilcos e realza 1 a 1 en cada ciclo.